main.container #error {
  display: flex;
  justify-content: space-between;
  background-color: #ff3a3ac2;
  /*background-color: #F5364C;*/
  /*border: 2px solid #ff0000;*/
  border-radius: 5px;
  margin: 0 2em;
  margin-bottom: 1em;
  padding: 1em;
}

main.container #error-hide {
  display: none;
}

main.container #error #error-message {
  margin-left: 0.25em;
}