#nav-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right:0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
  float: left; /* not sure if this float is required */
}